{% extends 'bases/base.html' %}
{% load static %}
            {% block content %}
            
            <div class="bigslam-page-title-wrap  bigslam-style-medium bigslam-center-align">
                <div class="bigslam-header-transparent-substitute"></div>
                <div class="bigslam-page-title-overlay"></div>
                <div class="bigslam-page-title-container bigslam-container">
                    <div class="bigslam-page-title-content bigslam-item-pdlr">
                        <h1 class="bigslam-page-title">Liverpool</h1></div>
                </div>
            </div>

            <div class="bigslam-page-wrapper" id="bigslam-page-wrapper">
                <div class="bigslam-content-container bigslam-container">
                    <div class=" bigslam-sidebar-wrap clearfix bigslam-line-height-0 bigslam-sidebar-style-right">
                        <div class=" bigslam-sidebar-center bigslam-column-40 bigslam-line-height">
                            <div class="bigslam-content-wrap bigslam-item-pdlr clearfix">
                                <div class="bigslam-content-area">
                                    <article id="post-56" class="post-56 sp_team type-sp_team status-publish has-post-thumbnail hentry sp_league-uefa sp_season-17 sp_season-71 sp_season-72 sp_venue-anfield">
                                        <div class="bigslam-single-article">
                                            <div class="bigslam-single-article-content">
                                                <div class="sp-section-content sp-section-content-logo">
                                                    <div class="sp-template sp-template-team-logo sp-template-logo sp-team-logo">
                                                        <img width="110" height="119" src="{% static 'upload/flag-14.png' %}" class="attachment-sportspress-fit-icon size-sportspress-fit-icon wp-post-image" alt="" > </div>
                                                </div>
                                                <div class="sp-section-content sp-section-content-excerpt"></div>
                                                <div class="sp-section-content sp-section-content-content">
                                                    <div class="sp-post-content">
                                                        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Etiam porta sem malesuada magna mollis euismod. Aenean lacinia bibendum nulla sed consectetur. Curabitur blandit tempus porttitor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                                                    </div>
                                                </div>
                                                <div class="sp-section-content sp-section-content-staff">
                                                    <h4 class="sp-staff-name"><span class="sp-staff-role">Coach</span> Paul Smither</h4>
                                                    <div class="sp-template sp-template-staff-photo sp-template-photo sp-staff-photo">
                                                        <img width="300" height="200" src="{% static 'upload/shutterstock_232351570-300x200.jpg' %}' %}" class="attachment-sportspress-fit-medium size-sportspress-fit-medium wp-post-image" alt="" > </div>
                                                    <div class="sp-template sp-template-staff-details sp-template-details">
                                                        <div class="sp-list-wrapper">
                                                            <dl class="sp-staff-details"><dt>Nationality</dt>
                                                                <dd><img src="{% static 'plugins/sportspress/assets/images/flags/usa.png' %}" alt="usa"> United States</dd><dt>Current Team</dt>
                                                                <dd>arsenal, Barcelona, Juventus, Liverpool, Man.Utd, Napoli, Real Soccer, Sevilla, spurs, Valencia</dd>
                                                            </dl>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="sp-section-content sp-section-content-lists">
                                                    <div class="sp-template sp-template-player-list">
                                                        <a name="group-2-forward" id="group-2-forward"></a>
                                                        <h4 class="sp-table-caption player-group-name player-list-group-name">Forward</h4>
                                                        <div class="sp-table-wrapper">
                                                            <table class="sp-player-list sp-data-table sp-sortable-table sp-scrollable-table sp-paginated-table" data-sp-rows="10">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="data-number">#</th>
                                                                        <th class="data-name">Player</th>
                                                                        <th class="data-height">Height</th>
                                                                        <th class="data-weight">Weight</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr class="odd">
                                                                        <td class="data-number" data-label="#">11</td>
                                                                        <td class="data-name" data-label="Player"><a href="#">Mohamed Salah</a></td>
                                                                        <td class="data-height" data-label="Height">-</td>
                                                                        <td class="data-weight" data-label="Weight">-</td>
                                                                    </tr>
                                                                    <tr class="even">
                                                                        <td class="data-number" data-label="#">27</td>
                                                                        <td class="data-name" data-label="Player"><a href="#">Divock Origi</a></td>
                                                                        <td class="data-height" data-label="Height">-</td>
                                                                        <td class="data-weight" data-label="Weight">-</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="sp-template sp-template-player-list">
                                                        <a name="group-goalkeeper" id="group-goalkeeper"></a>
                                                        <h4 class="sp-table-caption player-group-name player-list-group-name">Goalkeeper</h4>
                                                        <div class="sp-table-wrapper">
                                                            <table class="sp-player-list sp-data-table sp-sortable-table sp-scrollable-table sp-paginated-table" data-sp-rows="10">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="data-number">#</th>
                                                                        <th class="data-name">Player</th>
                                                                        <th class="data-height">Height</th>
                                                                        <th class="data-weight">Weight</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr class="odd">
                                                                        <td class="data-number" data-label="#">2</td>
                                                                        <td class="data-name" data-label="Player"><a href="#">Andy Lonergan</a></td>
                                                                        <td class="data-height" data-label="Height">-</td>
                                                                        <td class="data-weight" data-label="Weight">-</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="sp-template sp-template-player-list">
                                                        <a name="group-defender" id="group-defender"></a>
                                                        <h4 class="sp-table-caption player-group-name player-list-group-name">Defender</h4>
                                                        <div class="sp-table-wrapper">
                                                            <table class="sp-player-list sp-data-table sp-sortable-table sp-scrollable-table sp-paginated-table" data-sp-rows="10">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="data-number">#</th>
                                                                        <th class="data-name">Player</th>
                                                                        <th class="data-height">Height</th>
                                                                        <th class="data-weight">Weight</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr class="odd">
                                                                        <td class="data-number" data-label="#">7</td>
                                                                        <td class="data-name" data-label="Player"><a href="#">Joe Gomez</a></td>
                                                                        <td class="data-height" data-label="Height">-</td>
                                                                        <td class="data-weight" data-label="Weight">-</td>
                                                                    </tr>
                                                                    <tr class="even">
                                                                        <td class="data-number" data-label="#">9</td>
                                                                        <td class="data-name" data-label="Player"><a href="#">Roberto Firmino</a></td>
                                                                        <td class="data-height" data-label="Height">-</td>
                                                                        <td class="data-weight" data-label="Weight">-</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="sp-template sp-template-player-list">
                                                        <a name="group-midfielder" id="group-midfielder"></a>
                                                        <h4 class="sp-table-caption player-group-name player-list-group-name">Midfielder</h4>
                                                        <div class="sp-table-wrapper">
                                                            <table class="sp-player-list sp-data-table sp-sortable-table sp-scrollable-table sp-paginated-table" data-sp-rows="10">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="data-number">#</th>
                                                                        <th class="data-name">Player</th>
                                                                        <th class="data-height">Height</th>
                                                                        <th class="data-weight">Weight</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr class="odd">
                                                                        <td class="data-number" data-label="#">6</td>
                                                                        <td class="data-name" data-label="Player"><a href="#">David Totti</a></td>
                                                                        <td class="data-height" data-label="Height">-</td>
                                                                        <td class="data-weight" data-label="Weight">-</td>
                                                                    </tr>
                                                                    <tr class="even">
                                                                        <td class="data-number" data-label="#">8</td>
                                                                        <td class="data-name" data-label="Player"><a href="#">Naby Keita</a></td>
                                                                        <td class="data-height" data-label="Height">-</td>
                                                                        <td class="data-weight" data-label="Weight">-</td>
                                                                    </tr>
                                                                    <tr class="odd">
                                                                        <td class="data-number" data-label="#">14</td>
                                                                        <td class="data-name" data-label="Player"><a href="#">James Milner</a></td>
                                                                        <td class="data-height" data-label="Height">-</td>
                                                                        <td class="data-weight" data-label="Weight">-</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="sp-section-content sp-section-content-tables"></div>
                                            </div>
                                        </div>
                                        <!-- bigslam-single-article -->
                                    </article>
                                    <!-- post-id -->
                                </div>
                                <div class="bigslam-page-builder-wrap bigslam-item-rvpdlr">
                                    <div class="gdlr-core-page-builder-body"></div>
                                </div>
                            </div>
                        </div>
                        <div class=" bigslam-sidebar-right bigslam-column-20 bigslam-line-height bigslam-line-height">
                            <div class="bigslam-sidebar-area bigslam-item-pdlr">
                                <div class="sp-widget-align-none">
                                    <div id="sportspress-countdown-2" class="widget widget_sportspress widget_countdown widget_sp_countdown bigslam-widget">
                                        <div class="sp-template sp-template-countdown">
                                            <div class="sp-countdown-wrapper">
                                                <h3 class="event-name sp-event-name">
                                                    <a href="#">Real Soccer vs Valencia</a>     </h3>
                                                <p class="countdown sp-countdown long-countdown">
                                                    <time datetime="2020-08-13 20:00:51" data-countdown="2020/08/13 20:00:51">
                                                        <span>265 <small>days</small></span>
                                                        <span>09 <small>hrs</small></span>
                                                        <span>41 <small>mins</small></span>
                                                        <span>55 <small>secs</small></span>
                                                    </time>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sp-widget-align-none">
                                    <div id="sportspress-event-list-2" class="widget widget_sportspress widget_sp_event_list bigslam-widget">
                                        <h3 class="bigslam-widget-title">Event List</h3>
                                        <div class="sp-template sp-template-event-list">
                                            <div class="sp-table-wrapper">
                                                <table class="sp-event-list sp-event-list-format-title sp-data-table sp-paginated-table sp-sortable-table sp-scrollable-table " data-sp-rows="10">
                                                    <thead>
                                                        <tr>
                                                            <th class="data-date">Date</th>
                                                            <th class="data-event">Event</th>
                                                            <th class="data-time">Time/Results</th>
                                                            <th class="data-venue">Venue</th>
                                                            <th class="data-article">Article</th>
                                                            <th class="data-day">Match Day</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="sp-row sp-post alternate sp-row-no-0" itemscope="" itemtype="http://schema.org/SportsEvent">
                                                            <td class="data-date" itemprop="startDate" content="2019-08-01T20:00+00:00" data-label="Date">
                                                                <a href="#" itemprop="url">
                                                                    <date>2019-08-01 20:00:42</date>August 1, 2019</a>
                                                            </td>
                                                            <td class="data-event" data-label="Event"><a href="#" itemprop="url name"> Juventus vs Man.Utd</a></td>
                                                            <td class="data-time ok" data-label="Time/Results"><a href="#" itemprop="url">1 - 0</a></td>
                                                            <td class="data-venue" data-label="Venue" itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                                                                <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">Allianz Stadium</div>
                                                            </td>
                                                            <td class="data-article" data-label="Article"><a href="#" itemprop="url">Recap</a></td>
                                                            <td class="data-day" data-label="Match Day">-</td>
                                                        </tr>
                                                        <tr class="sp-row sp-post sp-row-no-1" itemscope="" itemtype="http://schema.org/SportsEvent">
                                                            <td class="data-date" itemprop="startDate" content="2019-08-02T20:00+00:00" data-label="Date">
                                                                <a href="#" itemprop="url">
                                                                    <date>2019-08-02 20:00:42</date>August 2, 2019</a>
                                                            </td>
                                                            <td class="data-event" data-label="Event"><a href="#" itemprop="url name"> Barcelona vs Liverpool</a></td>
                                                            <td class="data-time ok" data-label="Time/Results"><a href="#" itemprop="url">2 - 1</a></td>
                                                            <td class="data-venue" data-label="Venue" itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                                                                <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">Camp Nou</div>
                                                            </td>
                                                            <td class="data-article" data-label="Article"><a href="#" itemprop="url">Recap</a></td>
                                                            <td class="data-day" data-label="Match Day">-</td>
                                                        </tr>
                                                        <tr class="sp-row sp-post alternate sp-row-no-2" itemscope="" itemtype="http://schema.org/SportsEvent">
                                                            <td class="data-date" itemprop="startDate" content="2019-08-05T20:00+00:00" data-label="Date">
                                                                <a href="#" itemprop="url">
                                                                    <date>2019-08-05 20:00:21</date>August 5, 2019</a>
                                                            </td>
                                                            <td class="data-event" data-label="Event"><a href="#" itemprop="url name"> Valencia vs Sevilla</a></td>
                                                            <td class="data-time ok" data-label="Time/Results"><a href="#" itemprop="url">3 - 0</a></td>
                                                            <td class="data-venue" data-label="Venue" itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                                                                <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">Mestalla Stadium</div>
                                                            </td>
                                                            <td class="data-article" data-label="Article"><a href="#" itemprop="url">Recap</a></td>
                                                            <td class="data-day" data-label="Match Day">-</td>
                                                        </tr>
                                                        <tr class="sp-row sp-post sp-row-no-3" itemscope="" itemtype="http://schema.org/SportsEvent">
                                                            <td class="data-date" itemprop="startDate" content="2019-08-07T20:00+00:00" data-label="Date">
                                                                <a href="#" itemprop="url">
                                                                    <date>2019-08-07 20:00:42</date>August 7, 2019</a>
                                                            </td>
                                                            <td class="data-event" data-label="Event"><a href="#" itemprop="url name"> Napoli vs Juventus</a></td>
                                                            <td class="data-time ok" data-label="Time/Results"><a href="#" itemprop="url">2 - 0</a></td>
                                                            <td class="data-venue" data-label="Venue" itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                                                                <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">San Paolo Stadium</div>
                                                            </td>
                                                            <td class="data-article" data-label="Article"><a href="#" itemprop="url">Recap</a></td>
                                                            <td class="data-day" data-label="Match Day">-</td>
                                                        </tr>
                                                        <tr class="sp-row sp-post alternate sp-row-no-4" itemscope="" itemtype="http://schema.org/SportsEvent">
                                                            <td class="data-date" itemprop="startDate" content="2020-08-13T20:00+00:00" data-label="Date">
                                                                <a href="#" itemprop="url">
                                                                    <date>2020-08-13 20:00:51</date>August 13, 2020</a>
                                                            </td>
                                                            <td class="data-event" data-label="Event"><a href="#" itemprop="url name"> Real Soccer vs Valencia</a></td>
                                                            <td class="data-time ok" data-label="Time/Results">
                                                                <a href="#" itemprop="url">
                                                                    <date>&nbsp;20:00:51</date>8:00 pm</a>
                                                            </td>
                                                            <td class="data-venue" data-label="Venue" itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                                                                <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">Santiago Bernabéu Stadium</div>
                                                            </td>
                                                            <td class="data-article" data-label="Article"><a href="#" itemprop="url">Preview</a></td>
                                                            <td class="data-day" data-label="Match Day">-</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sp-widget-align-none">
                                    <div id="sportspress-event-calendar-2" class="widget widget_sportspress widget_calendar widget_sp_event_calendar bigslam-widget">
                                        <h3 class="bigslam-widget-title">SportsPress Calendar</h3>
                                        <div class="sp-template sp-template-event-calendar">

                                            <div class="sp-calendar-wrapper">
                                                <table id="wp-calendar" class="sp-calendar sp-event-calendar sp-data-table">
                                                    <caption class="sp-table-caption">November 2019</caption>
                                                    <thead>
                                                        <tr>
                                                            <th scope="col" title="Monday">M</th>
                                                            <th scope="col" title="Tuesday">T</th>
                                                            <th scope="col" title="Wednesday">W</th>
                                                            <th scope="col" title="Thursday">T</th>
                                                            <th scope="col" title="Friday">F</th>
                                                            <th scope="col" title="Saturday">S</th>
                                                            <th scope="col" title="Sunday">S</th>
                                                        </tr>
                                                    </thead>

                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="3" id="prev" class="sp-previous-month"><a data-tooltip="" data-options="disable_for_touch:true" class="has-tooltip tip-right" href="index-1.htm?sp_year=2019&sp_month=8" title="August 2019">&laquo; Aug</a></td>
                                                            <td class="pad">&nbsp;</td>
                                                            <td colspan="3" id="next" class="sp-next-month"><a data-tooltip="" data-options="disable_for_touch:true" class="has-tooltip tip-left" href="index-2.htm?sp_year=2020&sp_month=8" title="August 2020">Aug &raquo;</a></td>
                                                        </tr>
                                                    </tfoot>

                                                    <tbody>
                                                        <tr>
                                                            <td colspan="4" class="pad">&nbsp;</td>
                                                            <td>1</td>
                                                            <td>2</td>
                                                            <td>3</td>
                                                        </tr>
                                                        <tr>
                                                            <td>4</td>
                                                            <td>5</td>
                                                            <td>6</td>
                                                            <td>7</td>
                                                            <td>8</td>
                                                            <td>9</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>11</td>
                                                            <td>12</td>
                                                            <td>13</td>
                                                            <td>14</td>
                                                            <td>15</td>
                                                            <td>16</td>
                                                            <td>17</td>
                                                        </tr>
                                                        <tr>
                                                            <td>18</td>
                                                            <td>19</td>
                                                            <td>20</td>
                                                            <td>21</td>
                                                            <td id="today" class="sp-highlight">22</td>
                                                            <td>23</td>
                                                            <td>24</td>
                                                        </tr>
                                                        <tr>
                                                            <td>25</td>
                                                            <td>26</td>
                                                            <td>27</td>
                                                            <td>28</td>
                                                            <td>29</td>
                                                            <td>30</td>
                                                            <td class="pad" colspan="1">&nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="gdlr-core-recent-post-widget-3" class="widget widget_gdlr-core-recent-post-widget bigslam-widget">
                                    <h3 class="bigslam-widget-title">Recent News</h3>
                                    <div class="gdlr-core-recent-post-widget-wrap gdlr-core-style-1">
                                        <div class="gdlr-core-recent-post-widget clearfix">
                                            <div class="gdlr-core-recent-post-widget-thumbnail gdlr-core-media-image"><img src="{% static 'upload/shutterstock_706586722-150x150.jpg' %}" alt="" width="150" height="150" title="shutterstock_706586722"></div>
                                            <div class="gdlr-core-recent-post-widget-content">
                                                <div class="gdlr-core-recent-post-widget-title"><a href="#">Maddison will learn from casino mistake</a></div>
                                                <div class="gdlr-core-recent-post-widget-info"><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><span class="gdlr-core-head"><i class="fa fa-clock-o"></i></span><a href="#">June 6, 2016</a></span><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-author"><span class="gdlr-core-head"><i class="fa fa-user-o"></i></span><a href="#" title="Posts by superuser" rel="author">superuser</a></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="gdlr-core-recent-post-widget clearfix">
                                            <div class="gdlr-core-recent-post-widget-thumbnail gdlr-core-media-image"><img src="{% static 'upload/shutterstock_719387275-150x150.jpg' %}" alt="" width="150" height="150" title="shutterstock_719387275"></div>
                                            <div class="gdlr-core-recent-post-widget-content">
                                                <div class="gdlr-core-recent-post-widget-title"><a href="#">Giggs: James &#8216;streetwise&#8217; over injury</a></div>
                                                <div class="gdlr-core-recent-post-widget-info"><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><span class="gdlr-core-head"><i class="fa fa-clock-o"></i></span><a href="#">June 6, 2016</a></span><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-author"><span class="gdlr-core-head"><i class="fa fa-user-o"></i></span><a href="#" title="Posts by superuser" rel="author">superuser</a></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="gdlr-core-recent-post-widget clearfix">
                                            <div class="gdlr-core-recent-post-widget-thumbnail gdlr-core-media-image"><img src="{% static 'upload/photodune-7717723-soccer-players-m-150x150.jpg' %}" alt="" width="150" height="150" title="soccer players"></div>
                                            <div class="gdlr-core-recent-post-widget-content">
                                                <div class="gdlr-core-recent-post-widget-title"><a href="#">Gerrard would&#8217;ve &#8216;loved&#8217; to play for Klopp</a></div>
                                                <div class="gdlr-core-recent-post-widget-info"><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><span class="gdlr-core-head"><i class="fa fa-clock-o"></i></span><a href="#">June 6, 2016</a></span><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-author"><span class="gdlr-core-head"><i class="fa fa-user-o"></i></span><a href="#" title="Posts by superuser" rel="author">superuser</a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sp-widget-align-none">
                                    <div id="sportspress-league-table-2" class="widget widget_sportspress widget_league_table widget_sp_league_table bigslam-widget">
                                        <h3 class="bigslam-widget-title">League Table</h3>
                                        <div class="sp-template sp-template-league-table">
                                            <div class="sp-table-wrapper">
                                                <table class="sp-league-table sp-data-table sp-sortable-table sp-scrollable-table sp-paginated-table" data-sp-rows="10">
                                                    <thead>
                                                        <tr>
                                                            <th class="data-rank">Pos</th>
                                                            <th class="data-name">Club</th>
                                                            <th class="data-w">W</th>
                                                            <th class="data-l">L</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="odd sp-row-no-0">
                                                            <td class="data-rank" data-label="Pos">1</td>
                                                            <td class="data-name" data-label="Club">Napoli</td>
                                                            <td class="data-w" data-label="W">13</td>
                                                            <td class="data-l" data-label="L">0</td>
                                                        </tr>
                                                        <tr class="even sp-row-no-1">
                                                            <td class="data-rank" data-label="Pos">2</td>
                                                            <td class="data-name" data-label="Club">Juventus</td>
                                                            <td class="data-w" data-label="W">12</td>
                                                            <td class="data-l" data-label="L">0</td>
                                                        </tr>
                                                        <tr class="odd highlighted sp-row-no-2">
                                                            <td class="data-rank sp-highlight" data-label="Pos">3</td>
                                                            <td class="data-name sp-highlight" data-label="Club">Barcelona</td>
                                                            <td class="data-w sp-highlight" data-label="W">11</td>
                                                            <td class="data-l sp-highlight" data-label="L">0</td>
                                                        </tr>
                                                        <tr class="even sp-row-no-3">
                                                            <td class="data-rank" data-label="Pos">4</td>
                                                            <td class="data-name" data-label="Club">Real Soccer</td>
                                                            <td class="data-w" data-label="W">11</td>
                                                            <td class="data-l" data-label="L">1</td>
                                                        </tr>
                                                        <tr class="odd sp-row-no-4">
                                                            <td class="data-rank" data-label="Pos">5</td>
                                                            <td class="data-name" data-label="Club">Sevilla</td>
                                                            <td class="data-w" data-label="W">11</td>
                                                            <td class="data-l" data-label="L">2</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="sp-league-table-link sp-view-all-link"><a href="#">View full table</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}