{% extends 'bases/base.html' %}
{% load static %}
            {% block content %}
            <div class="bigslam-page-title-wrap  bigslam-style-medium bigslam-center-align">
                <div class="bigslam-header-transparent-substitute"></div>
                <div class="bigslam-page-title-overlay"></div>
                <div class="bigslam-page-title-container bigslam-container">
                    <div class="bigslam-page-title-content bigslam-item-pdlr">
                        <h1 class="bigslam-page-title"></h1></div>
                </div>
            </div>
            <div class="bigslam-page-wrapper" id="bigslam-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-wrapper " style="padding: 0px 0px 0px 0px;">
                        <div class="gdlr-core-pbf-background-wrap"></div>
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first gdlr-core-hide-in-mobile">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js  gdlr-core-column-extend-left" data-sync-height="height-1">
                                        <div class="gdlr-core-pbf-background-wrap">
                                            <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url({% static 'upload/shutterstock_547210306.jpg' %}) ;background-size: cover ;background-position: center ;" data-parallax-speed="0.2"></div>
                                        </div>
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content"></div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-column gdlr-core-column-30">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 70px 0px 50px 40px;" data-sync-height="height-1">
                                        <div class="gdlr-core-pbf-background-wrap"></div>
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 0px ;">
                                                    <div class="gdlr-core-text-box-item-content">
                                                        <div class="sportspress sp-widget-align-none">
                                                            <div class="sp-template sp-template-event-list">
                                                                <h4 class="sp-table-caption">Calendrier des matchs</h4>
                                                                <div class="bigslam-sp-event-widget-holder clearfix">
                                                                {% if matchs.length != 0  %}
                                                                    {% for match in matchs %}
                                                                    <div class="bigslam-sp-event-widget-list">
                                                                        <div class="bigslam-sp-event-widget-title bigslam-title-font clearfix">
                                                                            <div class="bigslam-sp-event-widget-title-left"><span class="bigslam-sp-team-logo"><img width="26" height="32" src= "{% if match.equipeA.logo %}{{ match.equipeA.logo.url }}{% else %}{% static 'upload/flag-14-30x32.png' %}{% endif %}" class="attachment-sportspress-fit-mini size-sportspress-fit-mini wp-post-image" alt="" ></span><span class="bigslam-sp-team-name">{{ match.equipeA }}</span></div><span class="bigslam-sp-event-result"><a href="#">VS</a></span>
                                                                            <div class="bigslam-sp-event-widget-title-right"><span class="bigslam-sp-team-logo"><img width="30" height="32" src= "{% if match.equipeB.logo %}{{ match.equipeB.logo.url }}{% else %}{% static 'upload/flag-14-30x32.png' %}{% endif %}" class="attachment-sportspress-fit-mini size-sportspress-fit-mini wp-post-image" alt="" ></span><span class="bigslam-sp-team-name">{{ match.equipeB }}</span></div>
                                                                        </div>
                                                                        <div class="bigslam-sp-event-widget-info"><span class="bigslam-sp-event-date">{{ match.date }}</span><span class="bigslam-sp-event-venue"><a href="#" rel="tag">{{ match.lieu }}</a></span></div>
                                                                    </div>
                                                                    {% endfor %}

                                                                {% else %}
                                                                    <div class="bigslam-sp-event-widget-list">
                                                                       Aucun Match à afficher
                                                                    </div>
                                                                {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}

