{% extends 'bases/base.html' %}
{% load static %}
            {% block content %}
            <div class="bigslam-page-title-wrap  bigslam-style-medium bigslam-center-align">
                <div class="bigslam-header-transparent-substitute"></div>
                <div class="bigslam-page-title-overlay"></div>
                <div class="bigslam-page-title-container bigslam-container">
                    <div class="bigslam-page-title-content bigslam-item-pdlr">
                        <h1 class="bigslam-page-title">Schedule &#8211; Widget Style</h1></div>
                </div>
            </div>
            <div class="bigslam-page-wrapper" id="bigslam-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-wrapper " style="padding: 0px 0px 0px 0px;">
                        <div class="gdlr-core-pbf-background-wrap"></div>
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first gdlr-core-hide-in-mobile">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js  gdlr-core-column-extend-left" data-sync-height="height-1">
                                        <div class="gdlr-core-pbf-background-wrap">
                                            <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url(upload/shutterstock_547210306.jpg) ;background-size: cover ;background-position: center ;" data-parallax-speed="0.2"></div>
                                        </div>
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content"></div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-column gdlr-core-column-30">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 70px 0px 50px 40px;" data-sync-height="height-1">
                                        <div class="gdlr-core-pbf-background-wrap"></div>
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 0px ;">
                                                    <div class="gdlr-core-text-box-item-content">
                                                        <div class="sportspress sp-widget-align-none">
                                                            <div class="sp-template sp-template-event-list">
                                                                <h4 class="sp-table-caption">Widget Style</h4>
                                                                <div class="bigslam-sp-event-widget-holder clearfix">
                                                                    <div class="bigslam-sp-event-widget-list">
                                                                        <div class="bigslam-sp-event-widget-title bigslam-title-font clearfix">
                                                                            <div class="bigslam-sp-event-widget-title-left"><span class="bigslam-sp-team-logo"><img width="26" height="32" src="upload/flag-12-26x32.png" class="attachment-sportspress-fit-mini size-sportspress-fit-mini wp-post-image" alt="" ></span><span class="bigslam-sp-team-name">Man.Utd</span></div><span class="bigslam-sp-event-result"><a href="#">VS</a></span>
                                                                            <div class="bigslam-sp-event-widget-title-right"><span class="bigslam-sp-team-logo"><img width="30" height="32" src="upload/flag-14-30x32.png" class="attachment-sportspress-fit-mini size-sportspress-fit-mini wp-post-image" alt="" ></span><span class="bigslam-sp-team-name">Liverpool</span></div>
                                                                        </div>
                                                                        <div class="bigslam-sp-event-widget-info"><span class="bigslam-sp-event-date">September 5, 2020</span><span class="bigslam-sp-event-venue"><a href="#" rel="tag">Old Trafford</a></span></div>
                                                                    </div>
                                                                    <div class="bigslam-sp-event-widget-list">
                                                                        <div class="bigslam-sp-event-widget-title bigslam-title-font clearfix">
                                                                            <div class="bigslam-sp-event-widget-title-left"><span class="bigslam-sp-team-logo"><img width="28" height="32" src="upload/flag-19-28x32.png" class="attachment-sportspress-fit-mini size-sportspress-fit-mini wp-post-image" alt="" ></span><span class="bigslam-sp-team-name">Barcelona</span></div><span class="bigslam-sp-event-result"><a href="#">VS</a></span>
                                                                            <div class="bigslam-sp-event-widget-title-right"><span class="bigslam-sp-team-logo"><img width="30" height="32" src="upload/flag-14-30x32.png" class="attachment-sportspress-fit-mini size-sportspress-fit-mini wp-post-image" alt="" ></span><span class="bigslam-sp-team-name">Liverpool</span></div>
                                                                        </div>
                                                                        <div class="bigslam-sp-event-widget-info"><span class="bigslam-sp-event-date">September 2, 2020</span><span class="bigslam-sp-event-venue"><a href="#" rel="tag">Camp Nou</a></span></div>
                                                                    </div>
                                                                    <div class="bigslam-sp-event-widget-list">
                                                                        <div class="bigslam-sp-event-widget-title bigslam-title-font clearfix">
                                                                            <div class="bigslam-sp-event-widget-title-left"><span class="bigslam-sp-team-logo"><img width="26" height="32" src="upload/flag-12-26x32.png" class="attachment-sportspress-fit-mini size-sportspress-fit-mini wp-post-image" alt="" ></span><span class="bigslam-sp-team-name">Man.Utd</span></div><span class="bigslam-sp-event-result"><a href="#">VS</a></span>
                                                                            <div class="bigslam-sp-event-widget-title-right"><span class="bigslam-sp-team-logo"><img width="28" height="32" src="upload/flag-13-28x32.png" class="attachment-sportspress-fit-mini size-sportspress-fit-mini wp-post-image" alt="" ></span><span class="bigslam-sp-team-name">Valencia</span></div>
                                                                        </div>
                                                                        <div class="bigslam-sp-event-widget-info"><span class="bigslam-sp-event-date">August 28, 2020</span><span class="bigslam-sp-event-venue"><a href="#" rel="tag">Old Trafford</a></span></div>
                                                                    </div>
                                                                    <div class="bigslam-sp-event-widget-list">
                                                                        <div class="bigslam-sp-event-widget-title bigslam-title-font clearfix">
                                                                            <div class="bigslam-sp-event-widget-title-left"><span class="bigslam-sp-team-logo"><img width="30" height="32" src="upload/flag-4-30x32.png" class="attachment-sportspress-fit-mini size-sportspress-fit-mini wp-post-image" alt="" ></span><span class="bigslam-sp-team-name">Juventus</span></div><span class="bigslam-sp-event-result"><a href="#">VS</a></span>
                                                                            <div class="bigslam-sp-event-widget-title-right"><span class="bigslam-sp-team-logo"><img width="32" height="32" src="upload/flag-15-32x32.png" class="attachment-sportspress-fit-mini size-sportspress-fit-mini wp-post-image" alt="" ></span><span class="bigslam-sp-team-name">Real Soccer</span></div>
                                                                        </div>
                                                                        <div class="bigslam-sp-event-widget-info"><span class="bigslam-sp-event-date">August 24, 2020</span><span class="bigslam-sp-event-venue"><a href="#" rel="tag">Allianz Stadium</a></span></div>
                                                                    </div>
                                                                    <div class="bigslam-sp-event-widget-list">
                                                                        <div class="bigslam-sp-event-widget-title bigslam-title-font clearfix">
                                                                            <div class="bigslam-sp-event-widget-title-left"><span class="bigslam-sp-team-logo"><img width="23" height="32" src="upload/flag-16-23x32.png" class="attachment-sportspress-fit-mini size-sportspress-fit-mini wp-post-image" alt="" ></span><span class="bigslam-sp-team-name">spurs</span></div><span class="bigslam-sp-event-result"><a href="#">VS</a></span>
                                                                            <div class="bigslam-sp-event-widget-title-right"><span class="bigslam-sp-team-logo"><img width="28" height="32" src="upload/flag-13-28x32.png" class="attachment-sportspress-fit-mini size-sportspress-fit-mini wp-post-image" alt="" ></span><span class="bigslam-sp-team-name">Valencia</span></div>
                                                                        </div>
                                                                        <div class="bigslam-sp-event-widget-info"><span class="bigslam-sp-event-date">August 22, 2020</span><span class="bigslam-sp-event-venue"><a href="#" rel="tag">spurs stadium</a></span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}

